
body {
    background-color:rgb(22, 20, 20);
    color: white;
    margin: 0px;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;

}

a{
    color: white;
    text-decoration: none;
}

header img{
    width:162px;
    height:162px;
    border-radius: 50%;
    border:5px solid #FF4500;

}

.centro {
    text-align: center;
}

h1 {
    font-family:'Lobster';
    color:#ff4500;

}

footer img {
    width: 40px;
    height: 40px;
}

footer {
    display: flex;
    justify-content: center;
    


}
footer a {
    margin: 20px;
    text-align: center;

}
.caixa {
    padding: 0px 50px;
}

nav a :hover{
    color: black;

}
    
button {
    width: 100px;
    height: 35px;
    background-color: #FF4500;
    border-radius: 5px;
    border: 0px;
    color: white;
    font-weight: bold;
}

.paragrafo {
  margin-right: 300px;
  text-align: justify;
}